// -> COLORS

// Primary
$primary-light: #4BA7EE;
$primary-main: #003970;
$primary-dark: #001841;

// Texts
$text-main: #4E5156;
$text-dark: #000;



// -> STRUCTURE

$fullcontent-width: 1200px;

$menu-top-height: 45px;
