// -> COLORS * https://coolors.co/f8f7ff-f0ebe3-9381ff-d7d5d5-2a2828-ed6e85

// Primary
$base-main: #F4F1F1;
$primary-main: #9381FF;
$error-main: #ED6E85;
$inactive-main: #D2C6C6;

// Texts
$text-main: #2A2828;
